.title_h1
    display: flex
    font-family: 'Raleway', sans-serif
    color: $primary
    font-size: 70px
    border-bottom: 2px solid $gray

    .title_name
        font-weight: 500
        
    .title_family
        font-weight: 700

.title_h2
    font-family: 'Raleway', sans-serif
    font-weight: 600
    color: $orange
    font-size: 30px
    padding-bottom: 10px
    margin-bottom: 20px

    &__left
        border-bottom: 2px solid $gray

    &__right
        border-bottom: 2px solid $primary
        color: $primary

.title_job
    font-family: 'Raleway', sans-serif
    color: $primary
    font-weight: 300
    font-size: 35px

.main_wrap
    